

@font-face {
    font-family: 'Cedarville' ;
    src: url(Cedarville\ Pnkfun\ 1\ Print.ttf);
}

@font-face {
    font-family: 'blankide';
    src: url('BLANKIDE.ttf') format('truetype'); 
    
}

@font-face {
    font-family: 'babydoll';
    src: url('Baby\ Doll.ttf') format('truetype'); 
    
}

@font-face {
    font-family: 'falturaAlien';
    src: url('FalturaAlien.ttf') format('truetype'); 
    
}

@font-face {
    font-family: 'glass';
    src: url('Glass.ttf') format('truetype'); 
    
}

@font-face {
    font-family: 'misfits';
    src: url('MISFITS.TTF') format('truetype'); 
    
}


@font-face {
    font-family: 'pulse-virgin';
    src: url('Pulse_virgin.ttf') format('truetype'); 
    
}

@font-face {
    font-family: 'vtkscontrol';
    src: url('vtksControl.ttf') format('truetype'); 
    
}

@font-face {
    font-family: 'white-on-black';
    src: url('White\ On\ Black.ttf') format('truetype'); 
    
}

@font-face {
    font-family: 'drcaligari';
    src: url('DrCaligari.ttf') format('truetype'); 
    
}

@font-face {
    font-family: 'engr';
    src: url('ENGR.ttf') format('truetype'); 
    
}

@font-face {
    font-family: 'nitemare';
    src: url('NITEMARE.TTF') format('truetype'); 
    
}

@font-face {
    font-family: '20centsmarker';
    src: url('20centsmarker.ttf') format('truetype'); 
    
}

@font-face {
    font-family: 'Almendra';
    src: url('Almendra-Regular.ttf') format('truetype'); 
    
}




@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

* {margin: 0; padding: 0}



::-webkit-scrollbar-thumb {
    background-color: black; /* Color del "pulgar" de la barra de desplazamiento */
    border: #fc1672 ridge 4px;
  }

  ::-webkit-scrollbar {
    width: 18px; /* Ancho de la barra de desplazamiento */
  }

/* <<<<< HEADER >>>>>*/


header { 
    
   
    background-image:url("fondo.png") ;
    background-size: cover; 
    background-repeat: no-repeat; 
    padding: 10px;
    text-align: right; 
    display: flex;
    text-align: right;
    align-items: center; 
    position: sticky;
    top: 0;
    transition: opacity 0.3s ease;
    opacity: 0; /* Inicialmente oculto */
  
}

.header-ext{opacity: 1;
    
    



}


nav { width:80%;text-align: right; }

nav a {text-decoration: none; 
    padding: 6px 25px; 
    margin:10px; 
    margin-left: 20px;
    display:inline-block;
    border-radius: 20px
}


.header-img{width: 140px;
    transition: transform 0.3s ease;

}


.header-img:hover {
    transform:scale(1.2);
}

.logo-header {width: 240px;
align-items: left;}

header.visible {
    opacity: 1; /* Visible cuando se muestra */
}

/* Ajusta el tamaño del contenido */
#content {
    padding: 0;
    margin-top: -135px; /* Asegura que el margen superior sea 0 inicialmente */
}

/* Ajusta el margen superior solo cuando el header está visible */
header.visible + #content {
    margin-top: 0; /* Ajusta según el tamaño del header */
}



/* <<<<< FOOTER >>>>>*/

footer {
    padding: 30px;
    position: static;
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-flow: wrap;
    background-image:url("fondo.png") ;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    
    
  }
  
.footer-text { display: flex; 
    align-items: center; 
    justify-content: right;
    flex-flow: wrap;
    font-size: 10px; 
    color: rgb(212, 211, 211);  
    font-family: 'blankide';
    
    position: absolute;
}


/* <<<<< WELCOME >>>>>*/

.contenedor-seccion{width: 100%;
    height: 780px;
    display: flex;}

.la-caverna{background-image: url(banner-fondo.png);
    width: 60%;
    height: auto;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.logoimg{width: 610px;
margin-top: 270px;
margin-left: 10px;}


.menu{background-image: url(menu.png);
    width: 40%;
    height: 780px;
    background-size: cover; 
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    

}



.menu-img {width: 220px;
    justify-content: center;
    text-align: center;
    margin-bottom: 70px;
    transition: transform 0.3s ease;


}

.menu-img:hover {
    transform:scale(1.2);
}

.menu-img-contactanos{width: 220px;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s ease;

}

.menu-img-contactanos:hover {
    transform:scale(1.2);
}


.menu-img-conocenos{width: 220px;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    transition: transform 0.3s ease;

}

.menu-img-conocenos:hover {
    transform:scale(1.2);
}



.boton-home {
    position: fixed;
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde la derecha */
    display: none; /* Inicialmente oculto */
    z-index: 99; /* Asegúrate de que esté por encima de otros elementos */
    width: 150px;
    transition: transform 0.3s ease;
    
}

.boton-home.show {
    display: block;
}


.boton-home:hover{cursor: pointer;
    transform:scale(1.1);


    
}


/* <<<<< CONOCENOS >>>>>*/

.contenedor-seccion-2{background-image: url(seccion2.png);
    width: 100%;
    height: 1400px;
    background-size: cover; 
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center; 


}

.titulo-conocenos{width: 500px;
    margin-top: 150px;
    margin-left: 470px;
   

}


.contenedor-texto-conocenos{width: 50%;
    justify-content: right;
    align-items: right;
    margin-left:620px ;
    margin-top: 15px;



}

.texto-conocenos{font-size: 24px;
    font-family: babydoll;
    line-height: 29px;
    color: rgb(234, 234, 234);
    text-align: justify;
    
    


}



.contenedor-entrada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    margin-left: 310px;
}

.titulo-entrada {
    font-size: 33px;
    font-family: 'white-on-black', sans-serif;
    color: rgb(212, 211, 211);
    margin-top: 135px;
}

.destacado-entrada {
    color: #fc1672;
}

.texto-entrada {
    font-size: 24px;
    font-family: 'BabyDoll', sans-serif;
    line-height: 29px;
    color: rgb(234, 234, 234);
    margin-top: 40px;
    text-align: justify;
}


.contenedor-mas-info{display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    margin-top: -5px;


}

.arrow1{width: 100px;
    margin-right: 13px;
    margin-top: 40px;


}

.arrow2{width: 100px;
    margin-left: 17px;
    margin-top: 40px;


}

.mas-info{width: 275px;
    margin-top: 60px;
    transition: transform 0.3s ease;


}

.mas-info:hover {
    transform:scale(1.2);
}






/* <<<<< PRÓXIMAS FECHAS >>>>>*/

.contenedor-seccion-3{background-image: url(seccion3-2.png);
    width: 100%;
    height: 1000px;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    justify-content: center;
    text-align: center;
    


}

.titulo-fechas{width: 500px;
    margin-top: 150px;
    
}










/* <<<<< HACÉ TU RESERVA >>>>>*/

.contenedor-seccion-4{background-image: url(seccion4-2.png);
    width: 100%;
    height: 1000px;
    background-size: cover; 
    background-repeat: no-repeat; 
    justify-content: center;
    text-align: center;


}


.titulo-reserva{width: 500px;
    margin-top: 170px;
    
}




.contenedor-texto-reserva{justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    width: 46%;
    margin-left: 420px;


}

.texto-reserva{font-size: 26px;
    font-family: babydoll;
    line-height: 31px;
    color: rgb(234, 234, 234);
   
    
    margin-top: 40px;
    text-align: justify;


}

.contenedor-reserva{display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.reserva{width: 230px;
    margin-top: 80px;
    transition: transform 0.3s ease;


}

.reserva:hover {
    transform:scale(1.2);
}












/* <<<<< ENCONTRANOS >>>>>*/

.contenedor-seccion-5{background-image: url(seccion5.png);
    width: 100%;
    height: 1150px;
    background-size: cover; 
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center; 


}

.titulo-encotrarnos{width: 500px;
    margin-top: 170px;
    
}


.mapa {width: 525px;
    margin-top: 20px;

}












/* <<<<< CONTACTANOS >>>>>*/

.contenedor-seccion-6{background-image: url(seccion6.png);
    width: 100%;
    height: 1000px;
    background-size: cover; 
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center; 


}

.titulo-contactanos{width: 500px;
    margin-top: 170px;
    margin-right: 150px;


}

.contenedor-contacto{display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 150px;
    margin-top: 30px;
}


.contacto-link{width: 120px;
    margin-bottom: 40px;
    transition: transform 0.3s ease;

}





.contacto-link:hover {
    transform:scale(1.2);
}




/* <<<<<RESERVA HTML>>>>>*/

.section-reserva {background-image: url(reserva-fondo.png);
    background-attachment: fixed;
    width: 100%;
    height: 900px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    justify-content: center;
    text-align: center;



}

.titulo-reserva-ext{width: 500px;
    margin-top: 30px;
    margin-bottom: 70px;



}



.contenedor-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .formulario {
    width: 80%; 
    max-width: 500px;
    min-width: 200px;
    background-color: rgba(15, 15, 15, 0.7);
    border: 7px ridge #fc1672;
  }

.formulario p {color: rgb(234, 234, 234);
    font-family:blankide ;
    text-align: center; 
    font-size: 20px;
    margin: 10px;

}



.formulario input,
.formulario textarea {
    /* Otros estilos para tus campos de formulario, por ejemplo: */
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px; /* Espacio entre los campos y los párrafos */
}

.formulario select {
    width: 100%; /* Ocupa todo el ancho de la caja del formulario */
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px; /* Espacio entre los campos y los párrafos */
}





.section-respuesta {background-image: url(reserva-fondo.png);
    
    width: 100%;
    height: 650px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    justify-content: center;
    text-align: center;



}







.respuesta{font-size: 27px;
    font-family: blankide;
    color: rgb(234, 234, 234);
    padding: 70px;
    background-color: rgba(15, 15, 15, 0.7);
   
    border: 7px ridge #fc1672;
    display: inline-block; /* Hace que el borde se ajuste al texto solamente */
    box-sizing: border-box;
    margin-top: 80px;



}


.contenedor-volver{justify-content: center;


}

.volver{width: 215px;
    margin-top: 80px;
    transition: transform 0.3s ease;


}

.volver:hover {
    transform:scale(1.2);
}

.arrow3{width: 100px;
    margin-right: 13px;
    margin-top: 10px;


}

.arrow4{width: 100px;
    margin-left: 17px;
    margin-top: 10px;


}


/* <<<<<TRABAJOS>>>>>*/

.lenguajes {width: 400px;
    cursor: pointer;

}


.section-trabajos {background-image: url(trabajos-fondo-2.png);
    background-attachment: fixed;
    width: 100%;
    height: 1550px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    justify-content: center;
    text-align: center;



}

.titulo-diseño{width: 500px;
    margin-top: 30px;
    margin-bottom: 10px;



}

.texto-diseños{font-size: 24px;
    font-family: babydoll;
    line-height: 29px;
    color: rgb(234, 234, 234);
    margin-top: 40px;
    text-align: center;
    margin-bottom: 30px;



}

.contenedor-trabajos{display: flex;
    flex-flow: wrap;
    justify-content: center; 
    text-align: center;
    align-items: stretch; 
    margin-bottom: 20px;


}





/* <<<<<TRABAJOS INDIVIDUAL>>>>>*/





.section-leguajes-gabi-collage{background-image: url(section-gabi-collage.png);
    
    width: 100%;
    height: 800px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    justify-content: center;
    text-align: center;


}

.volver-lenguajes{width: 215px;
    margin-top: 660px;
    margin-left: 1250px;
    transition: transform 0.3s ease;

} 



.volver-lenguajes:hover {
    transform:scale(1.2);
}


.section-leguajes-gabi-foto{background-image: url(section-gabi-foto.png);
    
    width: 100%;
    height: 800px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    justify-content: center;
    text-align: center;


}

.volver-lenguajes-2{width: 215px;
    margin-top: 650px;
    margin-right:850px;
    transition: transform 0.3s ease;

}

.volver-lenguajes-2:hover {
    transform:scale(1.2);
}


.section-leguajes-gabi-ilustración{background-image: url(section-gabi-ilus.png);
    
    width: 100%;
    height: 800px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    justify-content: center;
    text-align: center;


}


.volver-lenguajes-3{width: 215px;
    margin-top: 660px;
    margin-right:1100px;
    transition: transform 0.3s ease;

}

.volver-lenguajes-3:hover {
    transform:scale(1.2);
}


.section-leguajes-andres-collage{background-image: url(section-andres-collage.png);
    width: 100%;
    height: 800px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    justify-content: center;
    text-align: center;


}



.section-leguajes-andres-foto{background-image: url(section-andres-foto.png);
    width: 100%;
    height: 800px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    justify-content: center;
    text-align: center;

}


.section-leguajes-andres-ilustración{background-image: url(section-andres-ilus.png);
    width: 100%;
    height: 800px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    justify-content: center;
    text-align: center;


}













